.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0a3a83;
  padding: 21px 28px;
  font-size: 20px;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  border-radius: 0px 0px 8px 8px;
  margin-bottom: 75px;
}

.logo {
  width: 192px;
  height: 38px;
}

.links {
  display: flex;
  align-items: center;
  color: white;
  font-weight: 500;
  font-size: 20px;
}

.link {
  display: flex;
  align-items: center;
  margin-right: 40px;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }
}

.start {
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 700;
  color: #002966;
  padding: 6px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.icon {
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.book {
  background-image: url("./../../images/menu/icons/edu-book.svg");
}

.cloud {
  background-image: url("./../../images/menu/icons/cloud-web.svg");
}

.github {
  background-image: url("./../../images/menu/icons/github.svg");
}

.burger {
  display: flex;
  border: none;
  outline: none;
  padding: 6px 14px;
  border-radius: 8px;

  .image {
    background-image: url(../../images/menu/bars.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
  }
}

.BurgerMenuComponent {
  display: none;
}

@media screen and (max-width: 868px) {
  .link {
    margin-right: 20px;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    width: 141px;
    height: 28px;
  }

  .link {
    font-size: 16px;
  }
}

@media screen and (max-width: 668px) {
  .menu {
    margin-bottom: 24px;
  }

  .links {
    display: none;
  }
  .BurgerMenuComponent {
    display: flex;
  }
}
