.menu {
  display: flex;
  justify-content: space-between;
  background-color: #0a3a83;
  padding: 21px 28px;
  font-size: 20px;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  border-radius: 0px 0px 8px 8px;
  margin-bottom: 75px;
}

.links {
  display: flex;
  align-items: center;
  color: white;
  font-weight: 500;
  font-size: 20px;
}

.link {
  display: flex;
  margin-right: 41px;

  &:last-child {
    margin-right: 0;
  }
}

.start {
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 700;
  color: #002966;
  padding: 6px 20px;
  border-radius: 8px;
}

.icon {
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.book {
  background-image: url("./../../images/menu/icons/edu-book.svg");
}

.cloud {
  background-image: url("./../../images/menu/icons/cloud-web.svg");
}

.github {
  background-image: url("./../../images/menu/icons/github.svg");
}
