.carousel {
  position: relative;
  padding-bottom: 50px;
}

.swipercarousel {
  z-index: 1;
  box-sizing: border-box;
  padding: 0 10px;
}

@media screen and (max-width: 768px) {
  .carousel {
    margin: 0 -220px;
  }

  .effectRight,
  .effectLeft {
    width: 40%;
  }
}
