.command {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 6px;
  margin-bottom: 24px;

  white-space: nowrap;
}

.container {
  position: relative;
  display: flex;
  padding: 0 8px;
}

.link {
  display: flex;
  margin-right: 10px;
}

.copy {
  background-image: url(../../../../../../images/installcommand/copybtn.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
}

.java {
  background-image: url(../../../../../../images/installcommand/brands/javascript.svg);
}

.popover {
  position: absolute;
  right: -35px;
  top: 35px;
  background-image: url(../../../../../../images/installcommand/popover.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 103px;
  height: 37px;
}
