.command {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 6px;
  margin-bottom: 24px;

  // white-space: nowrap;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 8px;
}

.link {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  text-align: center;
  // max-width: 255px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
  margin-right: 10px;
}

.copy {
  background-image: url(../../../../../../images/installcommand/copybtn.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
}

.java {
  background-image: url(../../../../../../images/installcommand/brands/javascript.svg);
}

.popover {
  position: absolute;
  right: -35px;
  top: 35px;
  background-image: url(../../../../../../images/installcommand/popover.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 103px;
  height: 37px;
}

@media screen and (max-width: 480px) {
  .link {
    max-width: 200px;
  }
}
